.ui-notification {
  border-radius: 2px;
  position: fixed;
  z-index: 9999;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 300px;
  color: #fff;
  background: rgba(38,50,56,0.85);
  transition: all ease 0.5s;
}
.ui-notification.killed {
  opacity: 0;
  transition: opacity ease 1s;
}
.ui-notification:before {
  content: '\00d7';
  display: block;
  background: rgba(255,255,255,0.05);
  opacity: 0.5;
  size: 20px;
  line-height: ;
  text-align: center;
  float: right;
  color: #fff;
  transition: opacity ease-in-out 250ms;
  border-radius: 0 0 0 4px;
  font-size: 14px;
}
.ui-notification > h3 {
  display: block;
  margin: 10px 10px 0 10px;
  padding: 0 0 5px 0;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #808080;
  line-height: 1.2em;
  color: #f1f1f1;
  font-weight: normal;
}
.ui-notification a {
  text-decoration: underline;
  font-weight: normal;
  COLOR: #fff;
}
.ui-notification a:hover {
  text-decoration: underline;
}
.ui-notification > .message {
  margin: 10px 10px 10px 10px;
}
.ui-notification.warning,
.ui-notification.warning .message {
  color: #ff7623;
}
.ui-notification.error,
.ui-notification.error .message {
  color: #ff6d6a;
}
.ui-notification.success,
.ui-notification.success .message {
  color: #8bc34a;
}
.ui-notification.info,
.ui-notification.info .message {
  color: #87c7ff;
}
.ui-notification:hover {
  background: #263238;
  opacity: 1;
}
.ui-notification:hover:before {
  opacity: 1;
  box-shadow: rgba(0,0,0,0.25) 0 0 4px 0;
  background: rgba(255,255,255,0.25);
}
