$blue-grey = $blue-grey is defined ? $blue-grey : #607d8b
$blue-grey-900 = $blue-grey-900 is defined ? $blue-grey-900 : #263238
$blue = $blue is defined ? $blue : #2196F3
$rad = $rad is defined ? $rad : 0px
$screen-sm = $screen-sm is defined ? $screen-sm : 480px
$text_ps = $text_ps is defined ? $text_ps : 12px
$tiny_font_color = $tiny_font_color is defined ? $tiny_font_color : rgba(255,255,255,0.75)

div.cke
    border-color rgba(white, 0.25)

    .cke_inner
        background rgba($blue-grey-900, 0.25)

    .cke_top
        background transparent
        border transparent

    .cke_toolgroup
    .cke_combo_button
        border-color rgba(white, 0.25)
        background transparent
        box-shadow none

        a.cke_button
            &:hover
                background rgba(white, 0.25)

            &[title="About CKEditor"]
              display none

        &[title="Tags"]
            background rgba($blue, 0.25)

            a.cke_bottom:hover
                background rgba($blue, 0.5)

    .cke_combo_off a.cke_combo_button
        &:hover
        &:focus
            background rgba(white, 0.25)

    .cke_button_on
        &
        &:hover
            background rgba(black, 0.25)
            box-shadow none

    .cke_combo_on 
        a.cke_combo_button
            &
            &:hover
            &:focus
                background rgba(black, 0.25)
                box-shadow none

    .cke_bottom
        background transparent
        border none !important

        .cke_path_item
        .cke_path_empty
            color #ccc
            text-shadow none
    
        .cke_path_item
            background rgba(black, 0.20)

    .cke_button_disabled
        &:hover
        &:focus
            background none !important
            box-shadow none
            
            


a.cke_dialog_ui_button_ok
    background $blue !important
    border-color $blue !important
    color white

div.cke_dialog_title
    background white
    border none
    text-shadow none
    color #333

div.cke_dialog_body
    background white

td.cke_dialog_footer
    background transparent

textarea.cke_source
    background rgba($blue-grey-900, 0.85) !important
    color white
    display block
    box-sizing border-box
    border-left 0
    border-right 0
    scrollbar($blue-grey-500, true, 8px, false)
    color $green-500

select.cke_dialog_ui_input_select
input.cke_dialog_ui_input_text
input.cke_dialog_ui_input_password
textarea.cke_dialog_ui_input_textarea
    box-shadow none !important

div.cke_dialog_background_cover
    background $blue-grey-900 !important

div.cke_combopanel
div.cke_panel
    box-shadow rgba(0,0,0,0.25) 2px 2px 12px 0px
            
