.tuto-cont {
  position: relative;
  animation: tutoHightLight 3s linear infinite;
  size: 1px;
  z-index: 1000;
  display: none;
  line-height: 1.1em;
}
.tutorials-show.tuto-cont,
.tutorials-show .tuto-cont {
  display: inline-block;
}
.tuto-cont.tuto-gyro {
  animation: tutoHightLight-gyro 2s ease-in-out infinite;
}
.tuto-cont.tuto-slide-horizontal.right-top,
.tuto-cont.tuto-slide-horizontal.top-right,
.tuto-cont.tuto-slide-horizontal.bottom-right,
.tuto-cont.tuto-slide-horizontal.right-bottom {
  animation: tutoHightLight-slide-right 2s ease-in-out infinite;
}
.tuto-cont.tuto-slide-horizontal.left-top,
.tuto-cont.tuto-slide-horizontal.top-left,
.tuto-cont.tuto-slide-horizontal.bottom-left,
.tuto-cont.tuto-slide-horizontal.let-bottom {
  animation: tutoHightLight-slide-left 2s ease-in-out infinite;
}
.tuto-cont.tuto-slide-vertical {
  animation: tutoHightLight-slide-UP 2s ease-in-out infinite;
}
@media (max-width: $screen-md) {
  .tuto-cont {
    display: none !important;
  }
}
.tuto-cont > * {
  position: absolute;
}
.tuto-cont .tuto-text {
  display: block;
  position: absolute;
  min-width: 115px;
  white-space: normal;
  font-size: $text_p;
}
.tuto-cont.img-arrow:before,
.tuto-cont.img-group:before {
  content: '';
  display: block;
  position: absolute;
  background: center center no-repeat;
  background-size: 100% 100%;
}
.tuto-cont.img-group:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_group.svg");
  size: 35px 300px;
}
.tuto-cont.img-group.tuto-white:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_group_white.svg");
}
.tuto-cont.img-group.tuto-blue:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_group_blue.svg");
}
.tuto-cont.img-arrow:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_curve.svg");
  size: 50px 40px;
}
.tuto-cont.img-arrow.tuto-white:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_curve_white.svg");
}
.tuto-cont.img-arrow.tuto-blue:before {
  background-image: url("/static/components/efor-components/tutor-help/arrow_curve_blue.svg");
}
.tuto-cont.tuto-white {
  color: #fff;
}
.tuto-cont.tuto-blue {
  color: #00c0ff;
}
.tuto-cont .tuto-group {
  aposition: absolute;
}
.tuto-cont.top-left .tuto-text,
.tuto-cont.left-top .tuto-text,
.tuto-cont.bottom-left .tuto-text,
.tuto-cont.left-bottom .tuto-text {
  text-align: right;
}
.tuto-cont.top-right .tuto-text,
.tuto-cont.right-top .tuto-text,
.tuto-cont.bottom-right .tuto-text,
.tuto-cont.right-bottom .tuto-text {
  text-align: left;
}
.tuto-cont.top-left,
.tuto-cont.left-top {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.tuto-cont.top-left .tuto-text,
.tuto-cont.left-top .tuto-text {
  right: 0;
  bottom: 0;
}
.tuto-cont.top-left.img-arrow:before,
.tuto-cont.left-top.img-arrow:before {
  right: 0;
  bottom: 0;
}
.tuto-cont.top-left.img-arrow .tuto-text,
.tuto-cont.left-top.img-arrow .tuto-text {
  margin-right: 55px;
  margin-bottom: 35px;
}
.tuto-cont.top-left.img-group:before,
.tuto-cont.left-top.img-group:before {
  right: 0;
  bottom: -150px;
}
.tuto-cont.top-left.img-group .tuto-text,
.tuto-cont.left-top.img-group .tuto-text {
  margin-right: 55px;
  margin-bottom: -20px;
}
.tuto-cont.top-right,
.tuto-cont.right-top {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.tuto-cont.top-right .tuto-text,
.tuto-cont.right-top .tuto-text {
  left: 0;
  bottom: 0;
}
.tuto-cont.top-right.img-arrow:before,
.tuto-cont.right-top.img-arrow:before {
  left: 0;
  bottom: 0;
  transform: scaleX(-1);
}
.tuto-cont.top-right.img-arrow .tuto-text,
.tuto-cont.right-top.img-arrow .tuto-text {
  margin-left: 55px;
  margin-bottom: 35px;
}
.tuto-cont.top-right.img-group:before,
.tuto-cont.right-top.img-group:before {
  left: 0;
  bottom: -150px;
  transform: scaleX(-1);
}
.tuto-cont.top-right.img-group .tuto-text,
.tuto-cont.right-top.img-group .tuto-text {
  margin-left: 55px;
  margin-bottom: -20px;
}
.tuto-cont.bottom-right,
.tuto-cont.right-bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.tuto-cont.bottom-right .tuto-text,
.tuto-cont.right-bottom .tuto-text {
  left: 0;
  top: 0;
}
.tuto-cont.bottom-right.img-arrow:before,
.tuto-cont.right-bottom.img-arrow:before {
  left: 0;
  top: 0;
  transform: scale(-1);
}
.tuto-cont.bottom-right.img-arrow .tuto-text,
.tuto-cont.right-bottom.img-arrow .tuto-text {
  margin-left: 55px;
  margin-top: 25px;
}
.tuto-cont.bottom-right.img-group:before,
.tuto-cont.right-bottom.img-group:before {
  left: 0;
  top: -150px;
  transform: scale(-1);
}
.tuto-cont.bottom-right.img-group .tuto-text,
.tuto-cont.right-bottom.img-group .tuto-text {
  margin-left: 55px;
  margin-top: -20px;
}
.tuto-cont.bottom-left,
.tuto-cont.left-bottom {
  top: 100%;
  right: 100%;
  bottom: auto;
  left: auto;
}
.tuto-cont.bottom-left .tuto-text,
.tuto-cont.left-bottom .tuto-text {
  right: 0;
  top: 0;
}
.tuto-cont.bottom-left.img-arrow:before,
.tuto-cont.left-bottom.img-arrow:before {
  right: 0;
  top: 0;
  transform: scaleY(-1);
}
.tuto-cont.bottom-left.img-arrow .tuto-text,
.tuto-cont.left-bottom.img-arrow .tuto-text {
  margin-right: 55px;
  margin-top: 25px;
}
.tuto-cont.bottom-left.img-group:before,
.tuto-cont.left-bottom.img-group:before {
  right: 0;
  top: -150px;
  transform: scaleY(-1);
}
.tuto-cont.bottom-left.img-group .tuto-text,
.tuto-cont.left-bottom.img-group .tuto-text {
  margin-right: 55px;
  margin-top: -20px;
}
@-moz-keyframes tutoHightLight {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes tutoHightLight {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes tutoHightLight {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes tutoHightLight {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes tutoHightLight-gyro {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes tutoHightLight-gyro {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-o-keyframes tutoHightLight-gyro {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes tutoHightLight-gyro {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-moz-keyframes tutoHightLight-slide-left {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@-webkit-keyframes tutoHightLight-slide-left {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@-o-keyframes tutoHightLight-slide-left {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes tutoHightLight-slide-left {
  0% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@-moz-keyframes tutoHightLight-slide-right {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
@-webkit-keyframes tutoHightLight-slide-right {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
@-o-keyframes tutoHightLight-slide-right {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes tutoHightLight-slide-right {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
@-moz-keyframes tutoHightLight-slide-UP {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes tutoHightLight-slide-UP {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@-o-keyframes tutoHightLight-slide-UP {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes tutoHightLight-slide-UP {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
