.efor-search {
  position: relative;
  height: 30px;
}
.is-small-screen .efor-search {
  width: auto;
  width: 100%;
  width: calc(100% - 2px);
}
.efor-search .btn-close,
.efor-search .ico-show,
.efor-search .ico-search {
  transition: ease-in-out all 250ms;
  opacity: 0.3;
  z-index: 1;
}
.efor-search .ico-search {
  padding: 5px 10px;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}
.efor-search .cont-icos {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  text-align: right;
}
.efor-search .btn-close,
.efor-search .ico-show {
  padding: 5px 5px;
  left: auto;
  opacity: 0.75;
  cursor: pointer;
  color: #333;
}
.efor-search .btn-close:hover,
.efor-search .ico-show:hover {
  opacity: 1;
  color: #536dfe;
}
.efor-search .btn-close {
  right: 0;
}
.efor-search .ico-show {
  right: 30px;
}
.efor-search input.input_query {
  display: block;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  width: 100%;
  width: calc(100% - 2px);
  border-radius: 0px;
  border: 1px solid #808080;
  opacity: 0.7;
  text-indent: 40px;
  transition: ease-in-out all 250ms;
input-placeholder()
}
.efor-search input.input_query:focus {
  opacity: 1;
  outline: none;
  color: #808080;
}
.efor-search input.input_query:focus ~ .material-icons {
  opacity: 1;
}
.efor-search .match-user,
.efor-search .not-match-user {
  position: absolute;
  width: auto;
  background: #fff;
  padding: 5px;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: none;
  font-size: 14px;
}
.efor-search .match-user a,
.efor-search .not-match-user a {
  display: block;
  position: relative;
  padding: 1px 4px;
  cursor: pointer;
  color: #666;
  font-weight: normal;
}
.efor-search .match-user a:hover,
.efor-search .not-match-user a:hover {
  color: #fff;
  background: #00f;
}
.efor-search .not-match-user {
  color: rgba(128,128,128,0.5);
}
.efor-search .cont-gen-list {
  display: block;
  position: absolute;
  width: auto;
  background: #fff;
  padding: 5px;
  margin: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
}
.efor-search .desplegable-list {
  display: block;
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
.efor-search .desplegable-list .li {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 4px 4px;
  cursor: pointer;
  color: #666;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.efor-search .desplegable-list .li.hover {
  background: rgba(0,0,0,0.1);
}
.efor-search .desplegable-list .li:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0;
  background: #00f;
  box-shadow: #00f 0 0 1px 1px;
  transition: ease-in-out 250ms all;
}
.efor-search .desplegable-list .li input[type="checkbox"] {
  display: none;
}
.efor-search .desplegable-list .li.checked {
  color: #fff;
}
.efor-search .desplegable-list .li.checked:before {
  opacity: 1;
}
.efor-search .desplegable-list .li.checked .material-icons {
  color: #fff;
  opacity: 1;
}
.efor-search .desplegable-list .li .material-icons {
  position: relative;
  vertical-align: middle;
  font-size: 1.4em;
}
.efor-search .desplegable-list .search-notmatchuser {
  color: rgba(128,128,128,0.5);
  padding: 0 4px;
}
.efor-search.hide-list .cont-gen-list {
  display: none;
  z-index: 0;
}
.efor-search.show-list .cont-gen-list {
  display: block;
  z-index: 10;
}
.efor-search.show-list .ico-show {
  transform: rotate(-180deg);
}
.efor-search.hide-down-button .material-icons.ico-show {
  display: none;
}
.efor-search .cont-btns-inf {
  padding: 5px 10px;
  margin: 0 -5px;
  box-sizing: border-box;
}
.efor-search .btn-multiple-action {
  position: static;
  width: auto;
}
