$blue = $blue is defined ? $blue : #536DFE
$blue-grey-500 = $blue-grey-500 is defined ? $blue-grey-500 : #808080
$blue-grey-700 = $blue-grey-700 is defined ? $blue-grey-700 : #666
$textColor = $textColor is defined ? $textColor : #333
$borderColor = $borderColor is defined ? $borderColor : gray
$box-shadow3 = $box-shadow3 is defined ? $box-shadow3 : none
$box-shadow4 = $box-shadow4 is defined ? $box-shadow4 : none
$muted = $muted is defined ? $muted : gray
$paddingBox = $paddingBox is defined ? $paddingBox : 10px
$primary = $primary is defined ? $primary : blue
$rad = $rad is defined ? $rad : 0px
$text_p = $text_p is defined ? $text_p : 14px

//SEARCH TITLE
.efor-search
    position relative
    height 30px

    .is-small-screen &
        width auto
        width 100%
        width calc(100% - 2px)

    .btn-close
    .ico-show
    .ico-search
        transition ease-in-out all 250ms
        opacity .3
        z-index 1

    .ico-search
        padding 5px $paddingBox
        position absolute
        z-index 50
        left 0px
        top 0px
        size 18px 24px

    // Container for icons show results and clear input
    .cont-icos
        position absolute
        top 0
        right 0
        white-space nowrap
        text-align right

    .btn-close
    .ico-show
        padding 5px 5px
        left auto
        opacity .75
        cursor pointer
        color $textColor

        &:hover
            opacity 1
            color $blue

    .btn-close
        right 0

    .ico-show
        right 30px

    input.input_query
        display block
        font-weight bold
        font-size $text_p
        height 100%
        width 100%
        width calc(100% - 38px)
        border-radius $rad
        border 1px solid $borderColor
        //opacity .7 // hide becouse is unnecessary
        padding-left 36px
        transition ease-in-out all 250ms
        +input-placeholder()
            font-weight normal

        &:focus
            opacity 1
            outline none
            color $blue-grey-500

            & ~ .material-icons
            & ~ .mdi
                opacity 1

    .match-user
    .not-match-user
        position absolute
        width auto
        background white
        padding 5px
        left 0
        right 0
        z-index 10
        box-shadow $box-shadow4
        font-size $text_p

        a
            display block
            position relative
            padding 1px 4px
            cursor pointer
            color $blue-grey-700
            font-weight normal

            &:hover
                color white
                background $primary

    .not-match-user
        color rgba($muted, 0.5)

    .cont-gen-list
        display block
        position absolute
        width auto
        background white
        padding 5px
        margin 0
        left 0
        right 0
        top 100%
        z-index 10
        box-shadow $box-shadow3
        font-size $text_p
        font-weight normal

    .desplegable-list
        display block
        max-height 200px
        overflow auto
        overflow-x hidden

        .li
            display block
            padding 0
            margin 0
            border-bottom 1px solid #fff
            padding 4px 4px
            cursor pointer
            color $blue-grey-700
            position relative
            overflow hidden
            text-overflow ellipsis
            white-space nowrap

            &.hover
                background rgba(#000, 0.1)

            &:before
                content ''
                display block
                position absolute
                z-index -1
                top 2px
                left 2px
                right 2px
                bottom 2px
                border 1px solid #fff
                border-radius 2px
                box-sizing border-box
                opacity 0
                background $primary
                box-shadow $primary 0 0 1px 1px
                transition ease-in-out 250ms all

            input[type="checkbox"]
                display none

            &.checked
                color white

                &:before
                    opacity 1

                .material-icons
                .mdi
                    color #fff
                    opacity 1

            .material-icons
            .mdi
                position relative
                vertical-align middle
                font-size 1.4em
                width 20px // For ie9

        .search-notmatchuser
            color rgba($muted, 0.5)
            padding 0 4px

    &.hide-list
        .cont-gen-list
            display none
            z-index 0

    &.show-list
        .cont-gen-list
            display block
            z-index 10

        .ico-show
            transform rotate(-180deg);

    &.to-hide {}
    &.hide-down-button
        .material-icons.ico-show
        .mdi.ico-show
            display none

    .cont-btns-inf
        padding 5px 10px
        margin 0 -5px
        box-sizing border-box

    .btn-multiple-action
        position static
        width auto
