@include keyframes(menuDown) {
	//@include animation(menuDown 250ms ease-in-out);
    0% {
      @include vendor-prefix(transform, translateY(-15px) );
      opacity: 0;
    }
    100% {
      @include vendor-prefix(transform, translateY(0px) );
      opacity: 1;
    } 
}


html{
	overflow: auto;
	font-family: $fontFamily;
	font-size: 16px;
	background: $bgColor;
	color: $textColor;
}

body{
	overflow: visible;
	&.ng-scope{
		.no-angular-hide{
			opacity: 1;
			height: 400px;
		}
	}
}

.no-angular-hide{
	@include animation(menuDown 500ms ease-in-out);
	@include transition(opacity 1s ease-in-out);
	opacity: 0;
}
.tab-pane.active{
	@include animation(menuDown 500ms ease-in-out);
}
.lnk-credits{
	color: $gray2;
	a{
		color: $gray2;
	}
}
#loading{
	> legend{
		border-color: transparent;
	}
}
.modal{
	.alerts{
		text-align: center;
		position: fixed;
		display: inline-block;
		z-index: 10;
		left: 3%;
		right: 3%;
		width: auto;
		top: 75px;
		.alert{
			padding: 4px 8px;
			max-width: 80%;
			margin: 5px auto;
			@include box-shadow( rgba(0,0,0,0.2) 0 2px 4px 0);
		}
	}
}
.tl-tip{
	position: absolute;
	background: #000;
	color: white;
	border-radius: 2px;
	opacity: 0.75;
	padding: 4px 6px;
	font-size: $text_sm;
	white-space: nowrap;
	min-width: 75px;
	left: 0;
	margin-left: -34px;
	display: none;
	text-align: center;

	&.tl-bottom{
		bottom: 100%;
		margin-bottom: 10px;
		&:before{
			@include beforeAfter(block,absolute,8px,8px);
			@include arrow(8px,8px,down,#000);
			margin-left: -8px;
			position: absolute;
			top: 100%;
			left: 50%;
		}
	}
}
/*reescritura de variables*/
.nav-tabs{
	>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
		color: $gray2;
	}
	>li.active>a:hover{
		background: white;
	}
}
.modal{
	.nav-tabs{
		>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
			color: $textColor;
		}
		>li>a{
			color: $gray2;
		}
	}
}
.btn-default{
	font-weight: bold;
}
.modal-body{
	padding-bottom: 0;
}
.modal-footer{
	margin-top: 0;
	border-top: 0;
}
.nav>li>a{
	color: $black2;
	padding: 6px 10px 8px;
	font-weight: bold;
}
.pager li>a, .pager li>span{
	padding: 2px 8px;
	color: $textColor;
	font-weight: bold;
	border-radius: 8px;
	&:hover{
		background: none;
	}
}
.modal{
	overflow: auto;
	outline: none;
	label{
		font-weight: normal;
	}
}
.modal-backdrop{
	background-color: white;
}
.modal-header{
	border-bottom: 0;
	padding-bottom: 1px;
	> .row{
		padding: 20px 20px 0;
	}
	.img_title{
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	h3{
		padding: 0;
		margin: 0;
		margin-right: 4px;
		font-size: $text_h5;
		line-height: 1.3em;
		padding-left: 65px;
		font-weight: bold;
	}
	p{
		margin: 0;
		padding-top: 6px;
		text-align: justify;
		clear: both;
		text-align: center;
		font-weight: bold;
	}
}
.tab-content{
	max-height: 465px;
	overflow: hidden;
	overflow-y: auto;
	border-bottom: 1px solid $border_color;
}

/*componenetes*/
input,
textarea,
select{
	&.only-line{
		border-width: 0 0 1px 0;
		@include box-shadow(none);
		border-radius: 0;
		&:focus{
			@include box-shadow(none);
		}
	}
	&.no-border{
		@include box-shadow(none);
		border-width: 0 0 1px 0;
		border-color: transparent;
		border-radius: 0;
		&:focus{
			@include box-shadow(none);
		}
	}
}
.inline{
	display: inline-block;
}
.inp-sm{
	width: 70px;
}
.inp-md{
	width: 150px;
}
.form-list{
	margin-bottom: 15px;	
}
.cont-years{
	.row-year{
		clear: both;
		border-bottom: 1px solid $border_color;
		overflow: hidden;
		display: block;
		padding: 0 4px;
		&:last-child{
			border-bottom-color: transparent;
		}
		input{
			background: transparent;
		}
		&:hover{
			background: $gray4;

			input[type="number"]{
				border-bottom-color: $blue;
				color: $blue;
			}
			input[readonly]{
				color: $textColor;
				border-color: transparent !important;
			}
		}
	}
}
.lista-iniciativas{
	@include ulUnformat();
	&{
		border: 1px solid $border_color;
		border-radius: 4px;
		padding: 8px;
		max-height: 820px;
		overflow: hidden;
  		overflow-y: auto;
	}
	li{
		@include transition(all 250ms ease-in-out);
		@include box-shadow(rgba(#000,0.0) 0 0 0 0);
  		@include perspective(650px);
  		@include perspective-origin(50% 100%);
		border-bottom: 1px solid $border_color;
		&:last-child{
			border-bottom-color: transparent;
		}
		&:hover, &:active{
			&:last-child{
				border-bottom-color: $border_color;
			}
			.cont-perspective{
				@include box-shadow(rgba(#000,0.15) 0 -4px 8px 0);
				@include transform(rotateX(-8deg));
    			border-left-color: lighten($blue,20);
				&:after{
					@include background-image(linear-gradient(rgba(#fff,0), rgba(#fff,0) 10%, rgba(#000,0.01)));
				}
			}
			
			.tools-links{
				opacity: 1;
				@include transform(translateX(0px));
				a{
				}
			}
		}

		.cont-perspective{
			@include transition(all 250ms ease-in-out);
			background: url(../img/icon-idea.png) 10px center no-repeat;
			padding: 14px 14px 30px 65px;
			position: relative;
    		border-left: 3px solid transparent;
			overflow: hidden;
			&:after{
				@include transition(all 250ms ease-in-out);
				@include beforeAfter(block,absolute,100%,100%);
				@include background-image(linear-gradient(rgba(#fff,0), rgba(#fff,0) 0%, rgba(#000,0.0)));
				bottom: 0;
				left: 0;
				z-index: -1;
			}
		}

		.tools-links{
			@include transition(all 250ms ease-in-out);
			@include transform(translateX(-30px));
			position: absolute;
			bottom: 0px;
			left: 0;
			padding-left: 64px;
			opacity: 0;
			> a{
				@include transition(all 250ms ease-in-out);
				@include box-shadow(rgba(#000,0.0) 0 0 0 0);
				position: relative;
				float: left;
				border: 1px solid $border_color;
				border-bottom: none;
				border-radius: $rad $rad 0 0;
				padding: 4px 6px 0;
				background: white;
				cursor: pointer;
				z-index: 1;
				margin-left: 4px;
				color: $textColor;
				&:hover{
					@include box-shadow(rgba(#000,0.15) 0 -4px 4px 0);
					color: $blue;
					>.tl-tip{
						display: block;
					}
				}
			}
		}
	}
}