
//colors
$orange: #ff7310;
$gray: #666666;
$gray2: #808080;
$gray3: #ddd;
$gray4: #f5f5f5;
$green: #9bc800;
$yellow: #ffdd3e;
$yellowDrak: #ffd615;
$red: #b20000;
$blue: #5897fb;
$black: #080808;
$black2: #555;
$brown: #7f1700;
$redGplus : #da4835;
$blueFacebook : #3b579d;
$bgColor: #fff;

//font-size
$text_p: 13px;
$text_h1: 32px;
$text_h2: 28px;
$text_h3: 24px;
$text_h4: 18px;
$text_h5: 16px;
$text_h6: 12px;
$text_sm: 10px;

//text
$fontFamily : Helvetica, Arial, sans-serif;
$textColor: $black2;
$textColorBold: $black;
$textGray: $gray;
$fontSize: $text_p;

//dimensiones y fomra
$wrapper : 100%;
$rad: 4px;
$paddingBox: 20px;


/*invertidos*/
$bgBlack: $black;//fondo de ingredientes
$bgBlack2: #444;//fondo de ingredientes
$bgBlack_text: #bbb;//fondo de ingredientes
$border_color : $gray3;