support-for-ie = true
$soportAr= -webkit- -ms- -moz- -o-

vendor(prop, args)
	for $sop in $soportAr
		{$sop}{prop} args
	{prop} args
/*
div
	vendor animation, foo 250ms ease-in-out*/

display(mode, args...)
	if mode == 'inline-block'
		display inline-block args
		if support-for-ie
			zoom 1
			*display inline args
	if mode == flex
		display -webkit-box args
		display -webkit-flex args
		display -ms-flexbox args
		display flex args
	else
		display mode args
/*
a
	display inline-block
*/
/*
flex-direction(mode, args...)
	for $sop in $soportAr
		{$sop}direction mode args
	direction mode args

flex-direction(mode, args...)
	for $sop in $soportAr
		{$sop}direction mode args
	-ms-flex-direction mode args
	direction mode args

align-items(mode, args...)
	for $sop in $soportAr
		{$sop}align-items mode args
	-ms-flex-align mode args
	align-items mode args

justify-content(mode, args...)
	for $sop in $soportAr
		{$sop}justify-content mode args
	-ms-flex-pack mode args
	justify-content mode args
	
flex-grow(mode, args...)
	for $sop in $soportAr
		{$sop}flex-grow mode args
	-ms-flex-positive mode args
	flex-grow mode args
	
*/
arrow($width=20px, $height=20px, $direction='up', $color='red')
	width 0
	height 0
	display inline-block
	border-style solid
  
	if $direction == right
		border-width $height 0 $height $width
		border-color transparent transparent transparent $color

	if $direction == left
		border-width $height $width $height 0
		border-color transparent $color transparent transparent

	if $direction == up
		border-width 0 $height $width $height
		color $height
		border-color transparent transparent $color transparent

	if $direction == down
		border-width $width $height 0 $height
		border-color $color transparent transparent transparent

	if $direction == downLeft
		border-width $width 0 0 $height
		border-color transparent transparent transparent $color

	if $direction == downRight
		border-width 0 0 $height $width
		border-color transparent transparent $color transparent

	if $direction == upRight
		border-width 0 $width $height 0
		border-color transparent $color transparent transparent

	if $direction == upLeft
		border-width $height $width 0 0
		border-color $color transparent transparent transparent
/*button
	arrow 20px 20px down green*/

input-placeholder()
	&.placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
	&::-webkit-input-placeholder
		{block}
/*input
	+input-placeholder()
		font-weigth normal*/
	
beforeAfter($display=block,$position=absolute,$width=100%,$height=100%)
	content ''
	display $display
	width $width
	height $height
	position $position
/*
span
	beforeAfter block absolute 10px 11px
*/

text-fill-color($ref=transparent)
	vendor text-fill-color, $ref
/*
body	
	text-fill-color(text)
*/

defaultDisplay($display=block)
	display $display
	list-style none
	margin auto
	padding 0
/*
a
	defaultDisplay(inline-block)
*/
ulUnformat($display=block)
	&,ul,li
		defaultDisplay($display)
/*ul
	ulUnformat(inline-block)
*/

scrollbar($color=gray, $invert=false, $size=6px, $radius=true)
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	
	$scroll_track = $invert is true ? $color : lightness($color, 80%)
	$scroll_thumb = $invert is true ? lightness($color, 80%) : $color
	
	//scroll
	&::-webkit-scrollbar
		size $size
	&::-webkit-scrollbar-track
		border-radius $radius is true ? 2px : 0px
		background-color $scroll_track
	&::-webkit-scrollbar-thumb
		border-radius $radius is true ? 10px : 0px
		background $scroll_thumb
/*html
	scrollbar()
*/

user-select(args)
	-webkit-touch-callout (args)
	vendor user-select args
/*body
	no-select(none)
*/