// colors base
$gray= #666666
$gray3= #e0e0e0
$gray4= #fcfdfd
$gray5= #cfd8dc
// $orange= #ff7310
// $green= #b9db92
$yellow= $yellow-600 //#ffeb8b

/*colors use*/
$primary= #004eba
$corp1 = #014ebb
$muted = $gray
$success = $green-700
$info = $cyan-700
$warning = $orange-800
$danger = $red-600
$bgColor = $grey-50
$borderColor = $grey-200

// colors text
$titleColor = $blueDrak
$titleFont = 'Questrial', sans-serif
$textColor = $blue-grey-700
$textFont = 'ubuntu', sans-serif
$textColorBold = #000
$textGray = $gray

// media widths
$screen-xlg = 1600px // design screen
$screen-sc = 1024px // desktop
$screen-md = 840px // tableta
$screen-sm = 480px // phone

// font-size
$text_small = 11px
$text_ps = 12px
$text_p = 14px
$text_h1 = 32px
$text_h2 = 28px
$text_h3 = 24px
$text_h4 = 18px
$text_h5 = 16px
$text_h6 = 12px
$text_sm = 10px

// dimensiones y fomra
$wrapper = 1024px
$rad = 2px
$paddingBox = 10px

$box-shadow1 = rgba(0,0,0,0.33) 0 0 24px 0
$box-shadow2 = rgba(0,0,0,0.20) 12px 12px 12px 0
$box-shadow3 = 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24)
$box-shadow4 = 0 -1px 0 #e5e5e5,0 4px 4px rgba(0,0,0,.25), 0 2px 4px rgba(0,0,0,.24)
// $urlImg= 'https:// www.googledrive.com/host/0B18yLgsGq8-xSmRTand4ZHRSeFE/'
// $urlDomain= 'https:// desafioabierto.cocreandoideasstaging.spigit.com/resources/sites/logos/site_501/'

//  notifications
$noti_rad = $rad
$noti_background = rgba($blue-grey-900, .85)
$noti_background_hover = $blue-grey-900
$noti_text_size = $text_p
$noti_info = null
$noti_warning = null
$noti_danger = null
$noti_success = #fff
$noti_info = null
