{% extends 'base.html' %}
{% set apis_to_load = "[{name: \'user\', version: \'v1\'}]" %}
{% set ngController = 'adminIndex' %}


{% block tail_script %}
    <script src="/static/js/angular/directives/directives.js"></script>
    <script src="/static/js/angular/controllers/admin_index.js"></script>
{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-cell--10-col">
        <div class="efor-content-title-bar">
            <h1 class="mdl-typography--title font-w-normal">{[{ 'menu_home' | translate }]}</h1>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div ng-if="users.length" user-list></div>
        <div ng-if="!users" user-empty></div>
    </div>
</div>

<div class="efor-cont-submenu">
    <a id="efor-add" class="efor-add-main mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-button--mini mdl-js-button">
        <i class="material-icons">add</i>
    </a>
    <div class="efor-menu">
        <a id="new_basic" ng-click="openCreate()"><i class="material-icons">photo_size_select_small</i></a>
        <span for="new_basic" class="mdl-tooltip mdl-tooltip--left">
            {[{ 'admin_create_a' | translate }]}
        </span>

        <a id="new_customize" ng-click="openCreate()"><i class="material-icons">code</i></a>
        <span for="new_customize" class="mdl-tooltip mdl-tooltip--left">
            {[{ 'admin_create_a' | translate }]}
        </span>

    </div>
    <span for="efor-add" class="mdl-tooltip mdl-tooltip--left">
        {[{ 'admin_create' | translate }]}
    </span>
    <i class="tuto-cont tuto-gyro  top-left img-arrow bnt-add">
        <span class="tuto-text">{[{ 'admin_create' | translate }]}</span>
    </i>
</div>
{% endblock %}
