{% extends "base.html" %}
{% block title %}P&aacute;gina no encontrada{% endblock %}
{% block content %}
<div ng-class="{'load-ok':loaded,'load-wait':!loaded}">
    <div class="container-fluid">
        <article class="row">
            <div class="contains-pan pull-right col-md-12">
                <div class="nonInfoSection" id="error_text">
                    <i class="img-noElements p-i"></i>
                    <h3 class="titulo">Error</h3>
                    <p>
                      Error interno del servidor, contacte al equipo desarrollador.
                  </p>
              </div>
          </div>
      </article>
  </div>
</div>
{% endblock %}